FlowEngine/flowImageEngine.nr
[{"id":"1ddd0507.09ba2b","type":"debug","z":"c7467e39.b1b8f","name":"","active":true,"console":"false","complete":"true","x":839.0000553131104,"y":171.00000858306885,"wires":[]},{"id":"3421723d.66b21e","type":"http in","z":"c7467e39.b1b8f","name":"InputPOST","url":"/startImageFlow","method":"post","swaggerDoc":"","x":69,"y":50,"wires":[["fb02f4e4.ec3aa8","8a7535a.3db8fc8"]]},{"id":"453a7f88.169e5","type":"Notebook Launcher","z":"c7467e39.b1b8f","notebook":"2CJHYPCZQ","notebookname":"imgRGBToGray","notebookint":"2CJHYPCZQ","workflow":true,"checktime":"10","timeoutnotebook":"600","nodeparameters":"{\"binaryID\":{\"type\":\"msg\",\"value\":\"payload.binaryID\"},\"binaryID_type\":{\"value\":\"msg\"},\"sessionID\":{\"type\":\"msg\",\"value\":\"payload.sessionID\"},\"sessionID_type\":{\"value\":\"msg\"}}","nodeparagraphform":"20170516-073945_495362384","fullexecutionnotebook":true,"outputs":1,"outputsnosplit":1,"outputparameters":"[{\"paragraph\":\"20170516-141518_1262695041\",\"topic\":\"idGrey\"}]","splitoutputs":true,"enableoutputs":true,"x":129.00001525878906,"y":374.0000114440918,"wires":[["78389eb7.25a24","772f9913.612878"]]},{"id":"f966b731.37a058","type":"Notebook Launcher","z":"c7467e39.b1b8f","notebook":"2CGBG3G3H","notebookname":"imgBlur","notebookint":"2CGBG3G3H","workflow":true,"checktime":"10","timeoutnotebook":"600","nodeparameters":"{\"binaryID\":{\"type\":\"msg\",\"value\":\"payload.binaryID\"},\"binaryID_type\":{\"value\":\"msg\"},\"sessionID\":{\"type\":\"msg\",\"value\":\"payload.sessionID\"},\"sessionID_type\":{\"value\":\"msg\"}}","nodeparagraphform":"20170516-073945_495362384","fullexecutionnotebook":true,"outputs":1,"outputsnosplit":1,"outputparameters":"[{\"paragraph\":\"20170516-141518_1262695041\",\"topic\":\"idBlur\"}]","splitoutputs":true,"enableoutputs":true,"x":338,"y":244,"wires":[["772f9913.612878"]]},{"id":"fb02f4e4.ec3aa8","type":"http response","z":"c7467e39.b1b8f","name":"Response OK","x":326.0000228881836,"y":54.00000190734863,"wires":[]},{"id":"26e4a614.3b3c2a","type":"function","z":"c7467e39.b1b8f","name":"dataToOntology","func":"var jsonResponse = JSON.parse(msg.payload.replace(/\\\\n/g,''))\nnode.warn(jsonResponse);\n\n/*return {\n    ontology: \"imgResultID\",\n    payload: {\n        \"imgResultID\":{\n            \"greyScaleID\":jsonResponse.greyScaleID,\n            \"blurID\":jsonResponse.blurID,\n            \"blurAndGreyID\":jsonResponse.blurAndGreyID,\n            \"histogram\":JSON.parse(jsonResponse.histogram)\n        }\n    }\n};*/\n\nmsg.payload = {\"sessionKey\":flow.get(\"sessionID\"), \"ontology\":\"imgResultID\", \"data\":{\"imgResultID\":{\n            \"greyScaleID\":jsonResponse.greyScaleID,\n            \"blurID\":jsonResponse.blurID,\n            \"blurAndGreyID\":jsonResponse.blurAndGreyID,\n            \"histogram\":JSON.parse(jsonResponse.histogram)\n        }}\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":621,"y":434,"wires":[["b98e114a.c7de9"]]},{"id":"366d8459.6a629c","type":"Notebook Launcher","z":"c7467e39.b1b8f","notebook":"2CHTKEMTK","notebookname":"imgHistogram","notebookint":"2CHTKEMTK","workflow":true,"checktime":1,"timeoutnotebook":300,"nodeparameters":"{\"binaryID\":{\"type\":\"msg\",\"value\":\"payload.binaryID\"},\"binaryID_type\":{\"value\":\"msg\"},\"sessionID\":{\"type\":\"flow\",\"value\":\"sessionID\"},\"sessionID_type\":{\"value\":\"flow\"}}","nodeparagraphform":"20170516-073945_495362384","fullexecutionnotebook":true,"outputs":1,"outputsnosplit":1,"outputparameters":"[{\"paragraph\":\"20170516-145046_271861159\",\"topic\":\"histogram\"}]","splitoutputs":true,"enableoutputs":true,"x":388,"y":191,"wires":[["772f9913.612878"]]},{"id":"8a7535a.3db8fc8","type":"function","z":"c7467e39.b1b8f","name":"SessionIDToFlow","func":"flow.set('sessionID',msg.payload.sessionID);\nreturn msg;","outputs":1,"noerr":0,"x":124,"y":142,"wires":[["453a7f88.169e5","366d8459.6a629c","f966b731.37a058"]]},{"id":"78389eb7.25a24","type":"Notebook Launcher","z":"c7467e39.b1b8f","notebook":"2CGBG3G3H","notebookname":"imgBlur","notebookint":"2CGBG3G3H","workflow":true,"checktime":"5","timeoutnotebook":300,"nodeparameters":"{\"binaryID\":{\"type\":\"msg\",\"value\":\"payload\"},\"binaryID_type\":{\"value\":\"msg\"},\"sessionID\":{\"type\":\"flow\",\"value\":\"sessionID\"},\"sessionID_type\":{\"value\":\"flow\"}}","nodeparagraphform":"20170516-073945_495362384","fullexecutionnotebook":true,"outputs":1,"outputsnosplit":1,"outputparameters":"[{\"paragraph\":\"20170516-141518_1262695041\",\"topic\":\"blurAndGrey\"}]","splitoutputs":true,"enableoutputs":true,"x":258,"y":292,"wires":[["772f9913.612878"]]},{"id":"772f9913.612878","type":"Notebook Launcher","z":"c7467e39.b1b8f","notebook":"2CJKM5F3R","notebookname":"groupData","notebookint":"2CJKM5F3R","workflow":true,"checktime":1,"timeoutnotebook":300,"nodeparameters":"{\"greyID\":{\"type\":\"msg\",\"value\":\"payload{\\\"topic\\\":\\\"idGrey\\\"}\"},\"greyID_type\":{\"value\":\"msg\"},\"blurID\":{\"type\":\"msg\",\"value\":\"payload{\\\"topic\\\":\\\"idBlur\\\"}\"},\"blurID_type\":{\"value\":\"msg\"},\"greyAndBlurID\":{\"type\":\"msg\",\"value\":\"payload{\\\"topic\\\":\\\"blurAndGrey\\\"}\"},\"greyAndBlurID_type\":{\"value\":\"msg\"},\"histogram\":{\"type\":\"msg\",\"value\":\"payload{\\\"topic\\\":\\\"histogram\\\"}\"},\"histogram_type\":{\"value\":\"msg\"}}","nodeparagraphform":"20170517-203418_1320925269","fullexecutionnotebook":true,"outputs":1,"outputsnosplit":1,"outputparameters":"[{\"paragraph\":\"20170517-203615_2102074958\",\"topic\":\"groupData\"}]","splitoutputs":true,"enableoutputs":true,"x":397.1667175292969,"y":434.33335876464844,"wires":[["26e4a614.3b3c2a"]]},{"id":"b98e114a.c7de9","type":"http request","z":"c7467e39.b1b8f","name":"","method":"POST","ret":"obj","url":"http://sofia2.com/sib/services/api_ssap/v01/SSAPResource","tls":"","x":841.1666870117188,"y":405,"wires":[["1ddd0507.09ba2b"]]}]